h1 {
    width: 80%;
    margin: auto;
    background-color: lightblue;
    text-align: center;
  }

  .student-contributor{
    border: 2mm solid lightslategray;
    width: 50%;
    padding: 10px;
    margin-left: 25%;
    margin-top: 100px;
    display: block;
  }

  .student-contributor >img {
    margin-left: 150px;
  }
